<h1>Task List</h1>
<form role="form" class="form-horizontal col-xs-12">
    <div class="form-group">
        <input type="text" ng-model="tasks.filter.searchQuery"/>
    </div>
</form>
<table class="table table-striped">
    <tr ng-repeat="task in tasks.list">
        <td>{{ task.id }}</td>
        <td>{{ task.title }}</td>
    </tr>
</table>
<pagination class="pull-right" ng-model="tasks.currentPage" total-items="tasks.resultCount" items-per-page="tasks.filter.maxResults" max-size="5"
            boundary-links="true" previous-text="&#xf104;" next-text="&#xf105;" first-text="&#xf100;" last-text="&#xf101;" ng-show="tasks.isPaginationNeeded()"
            class="pull-right"></pagination>
